<!DOCTYPE html>
<html>
    <header>
        <title>{{.Website}}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    </header>
    <body>
        <div>这是用户中心页面</div>
        <div>
            <ul>
                {{range $index, $term := .list}}
                <li>
                    <span>{{$term.Id}}</span>
                    <span>{{$term.Name}}</span>
                    <span>{{$term.Nickname}}</span>
                    <a href="/user/delete/{{$term.Id}}">删除</a>
                </li>
                {{end}}
            </ul>
        </div>
    </body>
</html>